{% extends "base.html" %}

{% block content %}
<div class="auth-container">
    <div class="auth-login-box">
        <form method="post">
            {% csrf_token %}
            <div class="form-error">{% if form.non_field_errors %}
                <div class="form-error">
                    {{ form.non_field_errors }}
                </div>
                {% endif %}
            </div>
            <div><p>Введіть електронну адресу</p></div>
            <div class="auth-form-group">
                <i class="fas fa-user auth-icon"></i>
                {{ form.email}}
            </div>
            {% if form.email.errors %}
            <div class="form-error">
                {{ form.email.errors }}
            </div>
            {% endif %}
            <button type="submit" class="auth-btn-primary w-100">Скинути пароль</button>
        </form>
    </div>
</div>
{% endblock %}