{% extends "base.html" %}

{% block content %}
<div class="auth-container">
    <div class="auth-login-box">
        <form method="post">
            {% csrf_token %}

            {% if form.non_field_errors %}
            <div class="form-error">
                {{ form.non_field_errors }}
            </div>
            {% endif %}

            {% for field in form %}
            <div>
                <p>{{ field.label }}</p>
            </div>
            <div class="auth-form-group">
                <i class="fas fa-lock auth-icon"></i>
                {{ field }}
            </div>
            {% if field.errors %}
            <div class="form-error">
                {{ field.errors }}
            </div>
            {% endif %}
            {% endfor %}

            <button type="submit" class="auth-btn-primary w-100">Скинути пароль</button>
        </form>
    </div>
</div>
{% endblock %}
